@using AppIdCreatorTool.Components
@{
    ViewData["Title"] = "Home Page";
}
@*@(await Html.RenderComponentAsync<Counter>(RenderMode.Server))*@
<form asp-controller="Home" asp-action="SearchResult" method="get">
    <input type="text" name="recordName" placeholder="Search..." />
    <button type="submit">Search</button>
</form>
